<header class="site-header">
  <div class="container header-row">
    <a class="brand" href="/">
      <img class="brand-logo" src="/images/nextworklab-logo.png" alt="NextWork Lab." />
    </a>

    <nav class="nav">
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
          <div class="nav-group">
            <a class="nav-parent" href="{{ .URL }}">{{ .Name }}</a>
            <div class="nav-dropdown">
              {{ range .Children }}
                <a class="nav-child" href="{{ .URL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </div>
        {{ else }}
          <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
    </nav>
  </div>
</header>
